body {
  background-color: #FFFFFF;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  color: #2c3e50;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 200px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
  margin-bottom: 2em;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}
.top.secondary.menu{
  background: white;
  border-bottom: 1px solid #e0e1e2;
}
.categorySkill{
  background: gainsboro !important;
}
@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .pagination {
    display: none;
  }
}

.content p {
  color: rgb(65, 65, 65);
  line-height: 1.7;
}
.content code {
  color: #476582;
  padding: .25rem .5rem;
  margin: 0;
  font-size: .85em;
  background-color: rgba(27,31,35,.05);
  border-radius: 6px;
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
}
.ui.menu .item img.logo {
  margin-right: 1px;
}
.main.container {
  margin-top: 3em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  padding: 5em 0em;
}
pre{
  font-size: 16px !important;
}
pre code {
  background: #282c34 !important;
  padding: 1.25rem 1.5rem !important;
  color: #b6b6b6 !important;
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
}
a{
  font-weight: 600;
  color: #d6b228;
}
.tag {
  margin-top: -10px;
  margin-bottom: 20px;
}