
<!DOCTYPE html>
<html>
  {{ partial "head" . }}
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu secondary">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="{{ .Site.Params.logofixed  | absURL}}">
    </a>
    <div class="right menu">
      <a class="active item">Home</a>
      <a class="item">Work</a>
      <a class="item">Company</a>
      <a class="item">Careers</a>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher">

  {{ partial "header" . }}

  {{ partial "main" . }}

  {{ partial "footer" . }}

</div>

{{ partial "foot" . }}

</body>

</html>
