<div class="ui vertical stripe segment">
    <div class="ui container">
      <div class="ui stackable six cards">
        <a class="ui card categorySkill" href="/categories/laravel/">
          <div class="content">
            <div class="center aligned image" style="margin-bottom: 10px">
              <img src="{{ .Site.BaseURL }}laravel.png" alt="">
            </div>
            <div class="center aligned header">Laravel</div>
            <div class="center aligned meta">
              <span class="category">Ready</span>
            </div>
          </div>
        </a>
        <a class="ui card categorySkill" href="/categories/react/">
          <div class="content">
            <div class="center aligned image" style="margin-bottom: 10px">
              <img src="{{ .Site.BaseURL }}react.png" alt="">
            </div>
            <div class="center aligned header">React.js</div>
            <div class="center aligned meta">
              <span class="category">Soon</span>
            </div>
          </div>
        </a>
        <a class="ui card categorySkill" href="/categories/vue/">
          <div class="content">
            <div class="center aligned image" style="margin-bottom: 10px">
              <img src="{{ .Site.BaseURL }}vue.png" alt="">
            </div>
            <div class="center aligned header">Vue.js</div>
            <div class="center aligned meta">
              <span class="category">Soon</span>
            </div>
          </div>
        </a>
        <a class="ui card categorySkill" href="/categories/angular/">
          <div class="content">
            <div class="center aligned image" style="margin-bottom: 10px">
              <img src="{{ .Site.BaseURL }}angular.png" alt="">
            </div>
            <div class="center aligned header">Angular</div>
            <div class="center aligned meta">
              <span class="category">Soon</span>
            </div>
          </div>
        </a>
        <a class="ui card categorySkill" href="/categories/git/">
          <div class="content">
            <div class="center aligned image" style="margin-bottom: 10px">
              <img src="{{ .Site.BaseURL }}git.png" alt="">
            </div>
            <div class="center aligned header">Git</div>
            <div class="center aligned meta">
              <span class="category">Ready</span>
            </div>
          </div>
        </a>
        <a class="ui card categorySkill" href="/categories/codeigniter/">
          <div class="content">
            <div class="center aligned image" style="margin-bottom: 10px">
              <img src="{{ .Site.BaseURL }}codeigniter.png" alt="">
            </div>
            <div class="center aligned header">Codeigniter</div>
            <div class="center aligned meta">
              <span class="category">Soon</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>