<div class="ui inverted vertical masthead center aligned segment" style="background:#24292e;">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu" style="border-color: rgb(36, 41, 46);">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a href="/" class="header item">
          <img class="logo" src="{{ .Site.Params.logo  | absURL}}" style="width: 192px">
        </a>
        <div class="right item">
          <div class="ui item search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search..." style="background: #3f4347;">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header logowebsite">
        Ngoding Dewa
      </h1>
      <img class="logowemobile" src="{{ .Site.Params.logo  | absURL}}">
      <h2>Free development tutorial - Laravel, git, javascript</h2>
    </div>
  </div>
