
<div class="ui vertical stripe segment">
  <div class="ui container">
    <div class="ui stackable three cards" style="margin-bottom: 10px">
      {{ partial "post-list" . }}
    </div>
    <div class="ui center aligned container">
      {{if .Paginator.HasPrev}}
        <a class="ui left floated button" href="{{ .Paginator.Prev.URL }}">&larr; <span class="hide">Previous Posts</span></a>
      {{end}}
      Page {{ .Paginator.PageNumber }} of {{.Paginator.TotalPages}}
      {{if .Paginator.HasNext}}
        <a class="ui right floated button" href="{{ .Paginator.Next.URL }}"><span class="hide">Next Posts</span> &rarr;</a>
      {{end}}
    </div>
  </div>
</div>