{{ partial "category" . }}

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>Keep in touch</h3>
        <p>Ikuti kami untuk mendapatkan update terbaru</p>
        <div class="social">
          <a class="ui circular facebook icon button"  href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}"
          onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
            <i class="facebook f icon"></i>
          </a>
          <a class="ui circular twitter icon button" href="https://twitter.com/share?text={{.Title | safeHTML}}&amp;url={{.Permalink}}"
          onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
            <i class="twitter icon"></i>
          </a>
          <a class="ui circular telegram plane icon button">
            <i class="telegram plane icon"></i>
          </a>
          <a class="ui circular google plus icon button">
            <i class="google google plus g icon"></i>
          </a>
        </div>
      </div>
      <div class="column">
        <h3>"We all need people who will give us feedback. That’s how we improve."</h3>
        <p>
          <img src="//pbs.twimg.com/profile_images/988775660163252226/XpgonN0X_reasonably_small.jpg" class="ui avatar image"> <b>Bill Gates</b>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui container">
    <div class="ui stackable three cards" style="margin-bottom: 10px">
      {{ partial "post-list" . }}
    </div>
    <div class="ui center aligned container grid">
        <div class="row">
            <div class="four wide column">
      {{if .Paginator.HasPrev }}
        <a class="ui mini left floated button" href="{{ .Paginator.Prev.URL }}">&larr; <span class="hide">Previous Posts</span></a>
      {{end}}
      </div>
      <div class="eight wide column">
      <div class="ui mini buttons">
        <button class="ui button">{{ .Paginator.PageNumber }}</button>
        <div class="or" data-text="of"></div>
        <button class="ui button">{{.Paginator.TotalPages}}</button>
      </div>
      </div>
      <div class="four wide column">
      {{if .Paginator.HasNext}}
        <a class="ui mini right floated button" href="{{ .Paginator.Next.URL }}"><span class="hide">Next Posts</span> &rarr;</a>
      {{end}}
    </div>
  </div>
  </div>
  </div>
</div>