
<!DOCTYPE html>
<html>
  {{ partial "head" . }}
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu secondary">
  <div class="ui container">
    <a href="/" class="header item">
      <img class="logo" src="{{ .Site.Params.logofixed  | absURL}}">
    </a>
    <div class="right menu">
      <div class="ui search" style="padding-top: 10px;padding-right: 10px;">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    {{ $currentNode := . }}
    {{ with .Site.Menus.main }}
    {{ range sort . "Weight" "desc" }}
      <a class="item {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}}active{{end}}" href="{{.URL}}">{{.Name}}</a>
    {{end}}{{end}}
</div>


<!-- Page Contents -->
<div class="pusher">

  {{ partial "header" . }}

  notfound

  {{ partial "footer" . }}

</div>

{{ partial "foot" . }}

</body>

</html>
